<ActionBar title="TsukiBB" class="action-bar">
</ActionBar>

<ScrollView>
  <StackLayout>
    <GridLayout class="page">
      <GridView [items]="items" colWidth="30%" rowHeight="100">
        <ng-template let-item="item" let-odd="odd">
          <StackLayout margin="10" [nsRouterLink]="['/item', item.anime_id]" borderWidth="2"
                       borderRadius="5" verticalAlignment="stretch" class="list-group-item">
            <Image [nsRouterLink]="['/item', item.anime_id]"
                   [src]="'https://ebb.io/_/poster/'+item.anime_id+'x'+item.season_id"
                   stretch="aspectFill" col="0" loadAsync="true"></Image>
            <Label [nsRouterLink]="['/item', item.anime_id]" [text]="item.name_chi"></Label>
          </StackLayout>
        </ng-template>
      </GridView>
    </GridLayout>
  </StackLayout>
</ScrollView>
